Write a Python Program to accept the details of a student like name, roll number 
and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: 
Name: Anisha
Roll No: 21
Mark: 78

In [6]:
student={}

student.update({"name" : input("Enter the name: ")})

student.update({"roll_number" : int(input("Enter the roll number: "))})


student.update({"mark" : int(input("Enter the mark: "))})

print('Name:', student["name"])
print('Roll No:', student["roll_number"])
print('Mark:', student["mark"])

Enter the nameAnisha
Enter the roll number21
Enter the mark78
Name: Anisha
Roll No: 21
Mark: 78

Write a Python program to convert temperatures to and from Celsius 
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= 
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41 
Sample output: Temperature in Celsius =5

In [15]:
print("Temperature in Celsius =",int((((float(input("Enter the temperature in Fahrenheit: "))-32)*5)/9)))

Enter the temperature in Fahrenheit: 41
Temperature in Celsius = 5

Write a Python program to accept two numbers from the user and display its product.

In [22]:
a=int(input("Enter first number: "))
b=int(input("Enter second number : "))
print("The product of two numbers is ", a*b)

Enter first number: 15
Enter second number : 10
The product of two numbers is  150

Write a Python program to accept a string “Learn Python by Developing a Website” and display the string like “Learn**Python** by Developing a **Website**”

In [7]:
inputStr=input("Enter the string: ")

inputStr=inputStr.replace("Python", "**Python**")
inputStr=inputStr.replace("Website", "**Website**")

print('The modified string is ',inputStr)

Enter the string: Learn Python by Developing a Website
The modified string is  Learn **Python** by Developing a **Website**

 Write a Python program to accept the radius of a circle and display its area.

In [1]:
radius=float(input('enter the radius of circle :'))
print('The area of the circle is :', (3.14*(radius**2)))

enter the radius of circle :10
The area of the circle is : 314.0

Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [6]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
print('Dictinory Before update :')
print(sample_dict)

X=sample_dict["city"]

del sample_dict["city"]

sample_dict.update({"location" : X})

print('Dictinory After update :')
print(sample_dict)

Dictinory before update :
{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York'}
Dictinory After update :
{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

Write a Python program to change Brad’s salary to 8500 in the following 
dictionary.
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [9]:
sample_dict1 = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
print('Dictinory Before salary modification')
print(sample_dict)

sample_dict1['emp3']['salary']=8500
print('Dictinory After salary modification :')
sample_dict1

Dictinory Before salary modification
{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}
Dictinory After salary modification :

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

Write a program to copy elements 43 and 54 from the following tuple into a 
new tuple. Given:
tuple1 = (10, 20, 43, 54, 56, 68)

In [13]:
tuple1 = (10, 20, 43, 54, 56, 68)
tuple1

new_tuple=tuple1[2:4]

print('The new tuple is :')
new_tuple

The new tuple is :

(43, 54)

Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [14]:
tuple_1 = (50, 10, 60, 70, 50,83,567,50,81)

print('Occurence of 50 in tuple is ', tuple_1.count(50))

Occurence of 50 in tuple is  3